# Descriptive statistics

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import seaborn as sns

# Loading data
df = pd.read_pickle('STING_DB.pkl')
df.head()

,n_patient,id,label,array,n_cores,sp,sp_date,turb,histo,lesion,...,outcome,bcg,bcg_date,mitomycin,progression_stage_any,progression_stage_next,recurrence_any,recurrence_next,progression_grade_any,progression_grade_next
0,1,19870070301,OO,935,1.0,05-S-9869,2005-12-07,4,4,Non-tumor,...,alive,No,NaT,0,No,Yes,Yes,Yes,No,Yes
1,1,19870070301,OO,931,3.0,07-S-11432,2007-11-14,5,1,Low-grade,...,alive,No,NaT,0,No,No,Yes,No,No,No
2,1,19870070301,OO,931,3.0,07-S-11432,2007-11-14,5,1,Low-grade,...,alive,No,NaT,0,No,No,Yes,No,No,No
3,1,19870070301,OO,931,3.0,07-S-11432,2007-11-14,5,1,Low-grade,...,alive,No,NaT,0,No,No,Yes,No,No,No
4,1,19870070301,OO,931,3.0,05-S-4662,2005-06-10,3,2,High-grade,...,alive,No,NaT,0,No,No,Yes,No,No,No

## Clinical features

In [37]:
# Sex
df.groupby('sex')['id'].nunique().to_frame()

        id
sex
Male    41
Female  20

In [44]:
# Age at diagnosis, years
df.groupby('id').agg({'age_dx':max}).describe().astype('int')

       age_dx
count      61
mean       68
std         9
min        46
25%        61
50%        68
75%        74
max        88

In [56]:
# Follow-up, months
df['fu_months'] = (df['fu_days']/30)
df.groupby('id').agg({'fu_months':max}).describe().astype(int)

       fu_months
count         61
mean          42
std           45
min            2
25%           14
50%           38
75%           49
max          270